<h1>Hallo {{username}},</h1>

<p>
  Dit zijn de gegevens voor uw afspraak:
  <ul>
    <li>Tijd: {{date}}<br>{{date|ago}}</li>
    <li>Type: {{type}}</li>
    <li>Naam: {{naam}}</li>
    <li>Prijs: €{{prijs}}</li>
  </ul>
  <br>
  Er wordt later bekeken of uw afspraak in ons rooster past.<br>
  <br>
  Met vriendelijke groet,<br>
  Philomena Nails&Hair
</p>