<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="banner" class="menu">
            <img onclick="showMenu()" height="50px" src="{{asset('build/images/menu.png')}}" alt="menu" class="logo">
            <a href="{{path('app_landing')}}">
                <img height="50px" src="{{asset('build/images/logo/philomena.png')}}" alt="Philomena Logo" class="logo">
            </a>
        </div>

        <div id="sidebar" class="menu">
            <nav>
                <ul>
                    {% if is_granted('ROLE_CUSTOMER') %}
                    <li><a href="{{path('app_customer_dashboard')}}">Home {% if is_granted('ROLE_EMPLOYEE') %}- Klant{% endif %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_EMPLOYEE') %}
                    <li><a href="{{path('app_employee_dashboard')}}">Home {% if is_granted('ROLE_CUSTOMER') %}- Medewerker{% endif %}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{path('app_admin_dashboard')}}">Admin</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{path('app_logout')}}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div id="main">
            {% block pre %}
            {% endblock %}

            <div id="alerts">
            {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{label}}" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ message }}
                </div>
            {% endfor %}
            {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </div>
        <script>
            const showMenu = () => {
                let sidebar = document.getElementById("sidebar");
                if (sidebar.value == 1) {
                    sidebar.style.left = `-50%`;
                    sidebar.value = 0;
                    return;
                }
                sidebar.style.left = '0';
                sidebar.value = 1;
                return;
            }
        </script>
    </body>
</html>
